
legend {
  text-align: center;
  background: lightgray !important;
  font-family: initial;

}

fieldset {
  margin-top: 4px;
  border: solid 1px;
  border-color: #17a2b8;
}

.pied-table {
  margin-top: 4px;
  margin-bottom: 4px;
}

.badge-success {
  border-radius: 2px !important;
  padding: 2px !important;
  color: white !important;
  font-size: 18px !important;
  font-family: initial;
}

.badge-danger {
  border-radius: 2px !important;
  padding: 2px !important;
  color: white !important;
  font-size: 18px !important;
  font-family: initial;
}

.badge-warning {
  border-radius: 2px !important;
  padding: 2px !important;
  color: white !important;
  font-size: 18px !important;
  font-family: initial;
}

.badge-info {
  border-radius: 3px !important;
  padding: 2px !important;
  color: white !important;
  font-size: 18px !important;
  font-family: initial;
  background: orange !important;
  margin-right: 3px;
}

.order-liste {
  font-size: 16px;
  text-align: left;
  margin: 15px 5px 0 0;
}

.list-soumissionnaire {
  height: 20em;
  overflow: scroll;
}
.card-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 1px;
  margin-top: 1px;
  text-align: center;
}
.card {
  border: none !important;
}
