.baniere {
  border: solid 0.15em;
  border-radius: 0.3em;
  height: 3em;
}

.texte-baniere {
  font-weight: bold;
  font-size: 1.5em;
}

h5 {
  color: #c21f39;
  align-text: center;
}

.add {
  margin-top: 1.8em;
}

.header-table {
  font-size: 0.7em !important;
}
