h4 {
  font-style: italic;
}

p {
  margin-left: 30px;
}

hr {
  size: 1px;
  color: #D3D3D3;
}

.icon {
  margin-left: 100px;
  line-height: 1px;
}

.iconD {
  color: #007ad9;
}

h5 {
  color: #007ad9;
}

.bi bi-check2 {
  color: #eeeeee;
}

.modif:hover {
  cursor: pointer;
  padding-top: 0px;
  color: #f8c555;
}

.sup:hover {
  cursor: pointer;
  color: #C21F39;
}

.progressClass {
  padding-bottom: 5px;
  border-radius: 9px;
  border: 1px solid cornflowerblue;
}

.rounded {
  width: 1000px;
  height: 200px;
  font-size: 50px;
}

.hidd {
  color: #C21F39;
}
